*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --_b-border-radius: 4px;
  --_b-easing-function: ease-out;

  /* Colors */
  --_b-color-primary: #000000;
  --_b-color-primary-contrast: #ffffff;
  --_b-color-primary--hover: #303030;
  --_b-color-primary--active: #000000;

  --_b-color-tertiary: transparent;
  --_b-color-tertiary-contrast: #000000;
  --_b-color-tertiary--hover: #f0f0f0;
  --_b-color-tertiary--active: #e0e0e0;

  --_b-color-positive: #29af46;
  --_b-color-positive-contrast: #ffffff;
  --_b-color-positive--hover: #3dc45a;
  --_b-color-positive--active: #179c34;

  --_b-color-negative: #af2929;
  --_b-color-negative-contrast: #ffffff;
  --_b-color-negative--hover: #c43d3d;
  --_b-color-negative--active: #9c1717;
}
